.wrap-search {
    .search-img-container {
        .search-img {
            cursor: pointer;
        }
    }

    .search-submit {
        a {
            text-decoration: none;
            color: rgb(7, 7, 7);
        }
    }
}